* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: block;
}

.card {
    background-size: cover;
    height: 550px;
    width: 320px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
}

.background {
    height: 100vh;
    background-size: cover;
    display: block;
}

.main-picture {
    width: 280px;
    height: 280px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.name-description-format {
    text-align: left;
    margin: 15px 20px 12px 20px;
}

.name {
    font-size: 22px;
    font-family: Poppins;
    font-weight: 700;
}

.description {
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 500;
}

.buyer-data-format {
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 280px;
    margin: 8px 20px;
    padding: 10px;
    left: 0px;
}

.XRP-icon img {
    position: absolute;
    height: 20px;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
}

.XRP-price p {
    position: absolute;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 20px;
    left: 50;
    padding-left: 15px;
}

.clock-icon img {
    position: absolute;
    height: 20px;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 185px;
}

.countdown p {
    font-family: Quicksand;
    font-size: 15px;
    position: absolute;
    left: 210px;
}

.decorative-line {
    position: absolute;
    height: 1px;
    width: 280px;
    left: 0px;
    top: 50px;
}

.creator {
    position: absolute;
    height: 40px;
    width: 280px;
    margin: 0px 20px 30px 20px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
}

.creator img {
    position: absolute;
    height: 30px;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
}

.creator p {
    position: absolute;
    line-height: 20px;
    left: 35px;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 500;
}

.creator span {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
}

/* ------------------------------------- */

.hiei-background {
    background-image: url('src/hiei/hiei-background.png');
}

.hiei-card {
    background-image: url('src/hiei/hiei-card.png');
    border: 1px solid #6FB0D1;
}

.hiei-picture {
    background-image: url(src/hiei/hiei-pic.png);
    transition: background-mage 0.5s ease-in-out;
    background-size: cover;
    border: solid 1px #6FB0D1;
}

.hiei-name,
.creator-hiei span {
    color: white;
}

.hiei-card-description,
.buy-hiei-price,
.buy-hiei-price,
.creator-hiei {
    color: #6FB0D1;
}

.hiei-countdown p {
    color: #6FB0D1;
}

.decorative-line-hiei {
    background-color: #6FB0D1;
}

.hiei-name:hover,
.creator-hiei span:hover {
    color: #6FB0D1;
    font-family: Poppins;
}

.span-do-hiei:hover {
    color: #6FB0D1;

}

.hiei-picture:hover {
    background-image: url('src/hiei/hiei-olho-hover.png');
    opacity: 50%;
}

/* ----------------- */

/* .kurama-geral {
    background-image: url(src/kurama-assets-prontos/kurama-background.png);
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

.kurama-card {
    background-image: url('src/kurama-assets-prontos/kurama-card.png');
    background-size: cover;
    height: 550px;
    width: 320px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 2px solid #A78596;
    border-radius: 15px;
}

.kurama-foto {
    width: 280px;
    height: 280px;
    background-image: url('src/kurama-assets-prontos/kurama-pic.png');
    background-size: cover;
    transition: background-mage 0.5s ease-in-out;
    margin: auto;
    margin-top: 20px;
    border: solid 1px #5D062F;
    border-radius: 10px;
}

.nome-descricao-kurama {
    text-align: left;
    margin: 15px 20px 12px 20px;
}

.h1-do-kurama {
    font-size: 22px;
    font-family: Poppins;
    color: #5D062F;
    font-weight: 700;
}

.h2-do-kurama {
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 500;
    color: #190412;
}

.dados-compra-kurama {
    height: 40px;
    width: 280px;
    margin: 8px 20px;
    padding: 10px;
    position: absolute;
    display: inline-block;
    left: 0px;
}

.preco-kurama img {
    position: absolute;
    height: 20px;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
}

.preco-kurama p {
    position: absolute;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 20px;
    color: #5D062F;
    left: 50;
    padding-left: 15px;
}

.relogio-timer-kurama img {
    position: absolute;
    height: 20px;
    left: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 175px;
}

.relogio-timer-kurama p {
    position: absolute;
    line-height: 20px;
    left: 200px;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 500;
    color: #5D062F;
}

.linha-decorativa-kurama {
    background-color: #A78596;
    position: absolute;
    height: 1.5px;
    width: 280px;
    left: 0px;
    top: 50px;
}

.creator-kurama {
    position: absolute;
    height: 40px;
    width: 280px;
    margin: 0px 20px 15px 20px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
}

.creator-kurama img {
    position: absolute;
    height: 30px;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
}

.creator-kurama p {
    position: absolute;
    line-height: 20px;
    left: 40px;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 500;
    color: #5D062F
}

.creator-kurama span {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    color: #1E1B2B;
}

.h1-do-kurama:hover {
    color: #1E1B2B;
}

.span-do-kurama:hover {
    color: #5D062F;
    font-family: Poppins;
}

.kurama-foto:hover {
    background-image: url('src/kurama-assets-prontos/kurama-olho-hover.png');
    opacity: 50%;
}

/* ----------------- */

/* .botan-geral {
    background-image: url('src/botan-assets-prontos/botan-background.png');
    position: absolute;
    height: 100vh;
    width: 100%;
    background-size: cover;
    display: block;
}

.botan-card {
    background-image: url('src/botan-assets-prontos/botan-card.png');
    background-size: cover;
    height: 550px;
    width: 320px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: 2px solid #233A6E;
    border-radius: 15px;
}

.botan-foto {
    background-image: url('src/botan-assets-prontos/botan-pic.png');
    width: 280px;
    height: 280px;
    margin: auto;
    margin-top: 20px;
    border: solid 1px #233A6E;
    border-radius: 10px;
    background-size: cover;
    transition: background-mage 0.5s ease-in-out;
}

.nome-descricao-botan {
    text-align: left;
    margin: 15px 20px 12px 20px;
}

.h1-do-botan {
    font-size: 22px;
    font-family: Poppins;
    color: #233A6E;
    font-weight: 700;
}

.h2-do-botan {
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 500;
    color: #000000
}

.dados-compra-botan {
    height: 40px;
    width: 280px;
    margin: 8px 20px;
    padding: 10px;
    position: absolute;
    display: inline-block;
    left: 0px;
}

.preco-botan img {
    position: absolute;
    height: 20px;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
}

.preco-botan p {
    position: absolute;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 20px;
    color: #233A6E;
    left: 50;
    padding-left: 15px;
}

.relogio-timer-botan img {
    position: absolute;
    height: 20px;
    left: 100px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 175px;
}

.relogio-timer-botan p {
    position: absolute;
    line-height: 20px;
    left: 200px;
    font-family: Quicksand;
    font-size: 15px;
    font-weight: 600;
    color: #233A6E;
}

.linha-decorativa-botan {
    background-color: #233A6E;
    position: absolute;
    height: 1.5px;
    width: 280px;
    left: 0px;
    top: 60px;
}

.creator-botan {
    position: absolute;
    height: 40px;
    width: 280px;
    margin: 0px 20px 20px 20px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
}

.creator-botan p {
    position: absolute;
    line-height: 20px;
    left: 40px;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 600;
    color: #000000
}

.creator-botan img {
    position: absolute;
    height: 30px;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
}

.creator-botan span {
    margin-left: 5px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    color: #233A6E;
}

.h1-do-botan:hover {
    color: #ffffff
}

.span-do-botan:hover {
    color: #ffffff;
    font-family: Poppins;
}

.botan-foto:hover {
    background-image: url('src/botan-assets-prontos/botan-olho-hover.png');
    opacity: 50%;
}  */