* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: block;
}

.card {
    background-size: cover;
    height: 550px;
    width: 320px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 15px;
}

.background {
    height: 100vh;
    background-size: cover;
    display: block;
    position: relative;
}

.main-picture {
    width: 280px;
    height: 280px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.name-description-format {
    text-align: left;
    margin: 15px 20px 12px 20px;
}

.name {
    font-size: 22px;
    font-family: Poppins;
    font-weight: 700;
}

.description {
    font-family: Quicksand;
    font-size: 17px;
    font-weight: 500;
}

.buyer-data-format {
    position: absolute;
    display: inline-block;
    height: 40px;
    width: 280px;
    margin: 8px 20px;
    padding: 10px;
    left: 0px;
}

.XRP-icon img {
    position: absolute;
    height: 20px;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
}

.XRP-price p {
    position: absolute;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 600;
    line-height: 20px;
    left: 50;
    padding-left: 15px;
}

.clock-icon img {
    position: absolute;
    height: 20px;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 185px;
}

.countdown p {
    font-family: Quicksand;
    font-size: 15px;
    position: absolute;
    left: 210px;
}

.decorative-line {
    position: absolute;
    height: 1px;
    width: 280px;
    left: 0px;
    top: 50px;
}

.creator {
    position: absolute;
    height: 40px;
    width: 280px;
    margin: 0px 20px 30px 20px;
    padding: 10px;
    bottom: 0px;
    left: 0px;
}

.creator img {
    position: absolute;
    height: 30px;
    left: 20px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
}

.creator p {
    position: absolute;
    line-height: 20px;
    left: 35px;
    font-family: Quicksand;
    font-size: 12px;
    font-weight: 500;
}

.creator span {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 500;
}

/* ------------------------------------- */

.hiei-background {
    background-image: url('src/hiei/hiei-background.png');
}

.hiei-card {
    background-image: url('src/hiei/hiei-card.png');
    border: 1px solid #6FB0D1;
}

.hiei-picture {
    background-image: url(src/hiei/hiei-pic.png);
    transition: background-mage 0.5s ease-in-out;
    background-size: cover;
    border: solid 1px #6FB0D1;
    position: relative;
}

.hiei-name,
.creator-hiei p,
.creator-hiei span {
    color: white;
}

.hiei-card-description,
.buy-hiei-price,
.creator-hiei {
    color: #6FB0D1;
}

.hiei-countdown p {
    color: #6FB0D1;
}

.decorative-line-hiei {
    background-color: #6FB0D1;
}

.hiei-card {
    height: 530px
}

.creator-hiei {
    top: 470px;
}

.hiei-name:hover,
.creator-hiei span:hover {
    color: #6FB0D1;
    font-family: Poppins;
}

.hiei-picture:before {
    content: '';
    background-color: #233A6E;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    opacity: 0.5;
    display: none;
}

.hiei-picture:after {
    content: '';
    background: url('src/icon-view.png') no-repeat center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 75px;
    display: none;
}

.hiei-picture:hover::before,
.hiei-picture:hover::after {
    display: block;
}

/* ----------------- */

.kurama-background {
    background-image: url(src/kurama/kurama-background.png);
}

.kurama-card {
    background-image: url('src/kurama/kurama-card.png');
}

.kurama-card,
.kurama-picture {
    border: 1px solid #5D062F;
}

.kurama-picture {
    background-image: url(src/kurama/kurama-pic.png);
    transition: background-mage 0.5s ease-in-out;
    background-size: cover;
    position: relative;
}

.kurama-name,
.creator-kurama span,
.kurama-countdown p {
    color: #5D062F
}

.kurama-card-description,
.buy-kurama-price,
.creator-kurama {
    color: #190412;
}

.kurama-countdown p {
    position: relative;
    left: 195px;
}

.kurama-countdown img {
    left: 180px;
}

.creator-kurama {
    top: 495px;
}

.decorative-line-kurama {
    background-color: #A78596;
}

.kurama-name:hover,
.creator-kurama span:hover {
    color: #1E1B2B;
    font-family: Poppins;
}

.kurama-picture:before {
    content: '';
    background-color: #5D062F;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    opacity: 0.5;
    display: none;
}

.kurama-picture:after {
    content: '';
    background: url('src/icon-view.png') no-repeat center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 75px;
    display: none;
}

.kurama-picture:hover::before,
.kurama-picture:hover::after {
    display: block;
}

/* ----------------- */


.botan-background {
    background-image: url('src/botan/botan-background.png');
}

.botan-card {
    background-image: url('src/botan/botan-card.png');
    border: 2px solid #233A6E;
}

.botan-countdown img {
    left: 180px;
}

.botan-countdown p {
    left: 195px;
}

.botan-picture,
.botan-countdown p {
    position: relative;
}

.botan-picture {
    background-image: url(src/botan/botan-pic.png);
    transition: background-mage 0.5s ease-in-out;
    background-size: cover;
    border: solid 1px #233A6E;
}

.botan-card {
    height: 530px
}

.botan-name,
.creator-botan span,
.botan-countdown p,
.buy-botan-price {
    color: #233A6E
}

.botan-card-description,
.creator-botan {
    color: #000000
}

.creator-botan {
    top: 475px;
}

.decorative-line-botan {
    background-color: #233A6E;
    height: 1px;
}

.botan-name:hover,
.creator-botan span:hover {
    color: #ffffff;
    font-family: Poppins;
}

.botan-picture:before {
    content: '';
    background-color: #d9a54c;
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    opacity: 0.6;
    display: none;
}

.botan-picture:after {
    content: '';
    background: url('src/icon-view.png') no-repeat center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 75px;
    display: none;
}

.botan-picture:hover::before,
.botan-picture:hover::after {
    display: block;
}